<p style="color: green"><%= notice %></p>

<%= render 'posts/list_posts' %>

<div>
  <%= link_to "Edit this topic", edit_topic_path(@topic) %> |
  <%= link_to "Back to topics", topics_path %>

  <%= button_to "Destroy this topic", @topic,
                method: :delete, data:{turbo_confirm: 'Are you sure'} %>
</div>
