
<h1><%=Post.post_topic(@topic) %> Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", topic_post_path(post.topic, post) %>
    </p>
  <% end %>
</div>
<% if params[:topic_id]%>
  <%= link_to "New post", new_topic_post_path(params[:topic_id]) %>
<%end %>

<div>
  <%= pagy_nav(@pagy).html_safe%>
</div>