<p style="color: green"><%= notice %></p>

<!--post-->
<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_topic_post_path(params[:topic_id], @post) %> |
  <%= link_to "Back to posts", topic_posts_path(params[:topic_id]) %>
  <%= button_to "Destroy this post", topic_post_path(params[:topic_id], @post),
                method: :delete, data:{turbo_confirm: 'Are you sure'  } %>
</div>


<!--comments-->
<div>
  <div>
    <% @post.comments.each do |comment| %>
      <div><%= link_to comment.content ,
                  topic_post_comment_path(params[:topic_id], @post, comment) %>|-
      <%=comment.user.email %></div>
    <% end %>
  </div>
  <div>
    <%= render 'comments/form', comment: @post.comments.new %>
  </div>
</div>

<!--tags-->
<small>
    <%=
      raw @post.tags.map(&:name).map {
        |t| link_to ('#').concat(t), list_tagged_posts_path(t)
      }.join(' ')
    %>
</small>

<!--ratings-->
<span>
    <%@post.ratings.group(:value).count.each do |key, value| %>
      <p><%= key %> star present <%= value %> times</p>
    <% end %>
</span>
<div>
  <h2><strong>Add new rating</strong></h2>
  <%= render 'ratings/form', rating: Rating.new %>
</div>